
	<div class="container">
		<div class="row">
			<div id="navbar" class="col-lg-12 col-md-12 col-sm-12">
			<h3>Mongo Scraper</h3> <button id="homeButton">Home</button> <button id="savedArticlesButton">Saved Articles</button> 
			<button id="newArticlesButton">Scrape New Articles</button>
			</div>
		</div>

		<div  class="row">
			<div  class="col-lg-12 col-md-12 col-sm-12">
			<div class="jumbotron"">
			<h1 id="mainHeading">Mongo Scraper</h1>
			<h2 id="subHeading">New York Times Edition</h2>
			</div>
			</div>
		</div>